/* COMMON */
*{
	box-sizing: border-box;
}

.background{
	background-image: url("../images/background.png");
	width: 1024px;
	height: 600px;
	padding: 20px 0 0 20px;
}
.outerbox{
	background-image: url("../images/outerbox.png");
	width: 808px;
	height: 544px;
}
.wrapper{
	display: flex;
	flex-direction: row;
	padding: 32px 0 0 32px;
}
/* LEFT */
.wrapper__left{
	width: 208px;
	height: 472px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	/* padding-top: 20px; */
	/* background-color: lightpink; */

}
.wrapper__left__header{
	height: 32px;
	padding-top:18px;
}
.today{
	padding-bottom: 8px;
	font-size: 9px;
}
.today .Zero{
	color: red;
	font-size: 11px;
}
.today .count{
	font-size: 11px;
}
/* LEFT-PROFILE */
.wrapper__left__body{
	width: 208px;
	height: 440px;
	border: 2px solid lightgray;
	display : flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 15px;
	padding: 20px 30px 31px 30px;
	background-color: white;
}
.wrapper__left__body .top{
	height: 70%;
	width: 100%;
}
.top .profile-pic{
	width: 148px;
	height: 133px;
	background-color: lightgrey;
}
.seperate-line{
	margin: 12px 0;
	border: 1px dotted #000;
}
.top .profile-detail{
	height: 72px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
 .top .profile-detail div{
	height: 12px;
	color: grey;
	font-size: 9px;
	font-weight: 700;
}
.profile-detail div i{
	width: 12px;
	margin-right: 8px;
}
.wrapper__left__body .bottom{
	height: 30%;
	width: 100%;
	/* background-color: greenyellow; */
	display: flex;
	/* flex-direction: column;
	justify-content: flex-end; */
	align-items: flex-end;
}
.moodWrapper {
	width: 141px;
	height: 41px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.mood{
	margin-bottom: 8px;
	font-size: 11px;
}
.mood-select{
	width: 141px;
}

/* RIGHT */
.wrapper__right{
	margin-left: 6px;
	width: 524px;
	height: 472px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
/* RIGHT-HEADER */
/* suggest : .wrapper__right__header {
	padding-top: 10px;
	width: 510px;
	display: flex;
	justify-content: space-between;
	align-items: center;
} */
.wrapper__right__header{
	height: 32px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding-bottom: 8px;
}
.home-title{
	padding-left: 30px;
	font-size: 16px;
	color: #55b2d4;
	font-weight: 700;
}
.privacy-setting{
	font-size: 13px;
	font-weight: 500;
}
.privacy-setting i{
	color: orange;
}
.wrapper__right__body{
	width: 524px;
	height: 440px;
	border: 2px solid lightgray;
	border-radius: 15px;
	background-color: white;
}
iframe{
	height: 100%;
	width: 100%;
}

/* NAVIGATION */
.navigation{
	/* position: absolute; */
	/* left: 784px; */
	/* top: 105px */
	position: relative;
	top: 47px;
	width: 62px;
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.navigation__item{
	width: 60px;
	height: 30px;
	border: 1px solid #0F465E;
	border-left: none;
	border-radius: 0 5px 5px 0;
	font-size: 12px;
	background-color: #298EB5;
	color: #fff;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
}
.navigation__item:nth-child(1){
	background-color: #fff;
	color: #000;
}